footer.footer
  .container
    p &copy; #{new Date().getFullYear()} Guest House Feodosia
    ul.footer__social
      li: a(href="https://instagram.com" target="_blank")
        i.fab.fa-instagram
      li: a(href="https://facebook.com" target="_blank")
        i.fab.fa-facebook