extends base.pug

//- This adds extra styles and js to already defined in base.pug
append main_vars
  - css_main.push.apply(css_main, ["css/about.css"])
  - js_main.push.apply(js_main, ["js/about.js", "js/contact_form.js"])
  
block content
  .about_me
    .about_me__img
      img#me_img(src="images/me.JPG", alt="me")
    .about_me__main
      p#about_me__hey
        | <b>Hey</b> 👋 <br>
      p#about_me__name 
        | My name is <b>Dima</b> <br>
      p#about_me__description
        | I'm physicist by education, 
        b data scientist 
        | by profession. <br>
        | Ukrainian by origin. <br>
        | Math enthusiast. Science driven. <br>
      p#about_me__skills
        | 
        span(style="color: #CC3838;") SKILLS:
        | &nbsp; Python, R, JS, SQL
        span#dots0.dots  ...
        span#more0(style="display:none;") , Numpy, Pandas, Scikit-learn, TensorFlow/Keras, PyTorch, Matplotlib, Plotly, Tableau, Docker, Flask, Git, MATLAB, Maple, Node.js, AJAX, Photoshop
      p#about_me__love
        |
        span(style="color: #CC3838;") <b>LOVE</b>: 
        | &nbsp; IT, science, cats, family
        span#dots1.dots  ...
        span#more1(style="display:none;") , tennis, nature, photography, tough problems, teaching, music, travelling, being curious
        span#dots2.dots(style="display:none")  ...
        span#more2(style="display:none;") , Georgian wine, Belgium beer, party! 🎉
      
      .about_me__contact
        .about_me__resume 
          a#about_me__resume(href="./pdf/CV_YELCHANINOV.pdf" download="CV_YELCHANINOV.pdf") Download CV
        .contact_form
          form#messageForm(method="POST" action="/send_message")
            .message_area
              textarea#messageText(name="message" placeholder="Can I get your name?")
              button#messageButton(type="submit")
                img#messageIcon(src="images/send.png", alt="send")
        p#messageSuccess Message sent! Thanks!
        p#messageError 
          | Something went wrong. <br>
          | Hop into my email: dmytroyelchaninov@gmail.com
