extends base.pug

append main_vars
  - css_main.push.apply(css_main, ["css/contact.css"])
  - js_main.push.apply(js_main, ["js/contact_form.js"])

block content
  .contact_main

    .info_me
      p
      p#my_name Dmytro Yelchaninov <br>
      p#my_job Data Scientist <br>
      p#my_location 📍 USA, MD 
      p#my_email dmytroyelchaninov@gmail.com

    .contact_form
      form#messageForm(method="POST" action="/send_message")
        .message_area
          textarea#messageText(name="message" placeholder="Please include your contact info...")
          button#messageButton(type="submit") Send
    p#messageSuccess Message sent! Thanks!
    p#messageError 
      | Something went wrong. <br>
      | Hop into my email: dmytroyelchaninov@gmail.com

