$color-background: #000;
$color-hover: #909090;
$color-main: #f4f4f4;

$color-background: black;
$color-header: #212121;

$color1: #BF00FF;
$color2: #FF4545;
$color3: #FFFF00;
$color4: #CC3838;

$font-stack: 'Didot', sans-serif;
$font-size-base: 16px;
$font-size-25: 2.5rem;
$font-size-20: 2rem;
$font-size-175: 1.75rem;
$font-size-15: 1.5rem;
$font-size-125: 1.25rem;
$font-size-10: 1rem;
$font-size-075: 0.75rem;

$header-height: 100px;
$header-height-sm: 70px;

.about_me {
    display: flex;
    height: 90vh;
    width: 100%;
    gap: 10%;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0%;
    padding-bottom: $header-height;
}

.about_me__img {
    flex: 1;
}

#me_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.about_me__main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

// CONTACT SECTION
.about_me__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    gap: 5%;
}
.about_me__resume {
    flex: 1;
    white-space: nowrap;
}
#about_me__resume {
    font-size: $font-size-125;
    color: $color-main;
}
.contact_form {
    flex: 2;
}

// Send form
.hide {
    display: none;
}
.show {
    display: block;
}
#messageForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.message_area{
    margin-top: -8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#messageText {
    font-size: $font-size-10;
    height: 100%;
    width: 100%;
    max-width: 350px;
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    background-color: lighten($color-hover, 35%);
    box-sizing: border-box;
}
#messageText::placeholder {
    padding-left: 1%;
    vertical-align: middle;
}
#messageButton {
    position: relative;
    align-self: center;
    top: 1px;
    right: 30px;
    background-color: lighten($color-hover, 35%);
    border: none;
    cursor: pointer;
    padding: 0;
}
#messageButton:hover {
    color: $color2;
}
#messageIcon {
    width: 20px;
    height: 20px;
}
#messageSuccess, #messageError {
    display: none;
    font-size: $font-size-10;
}

#messageError {
    color: $color2;
    margin-top: -5px;
}

#messageSuccess {
    color: $color3;
    margin-right: 30%;
    font-size: $font-size-125;
}

#about_me__hey {
    font-size: $font-size-25;
    color: $color-main;
    margin-bottom: 2%;
}
#about_me__name {
    font-size: $font-size-20;
    color: $color-main;
}
#about_me__description {
    font-size: $font-size-125;
    color: $color-main;
}
#about_me__skills {
    margin-top: 5%;
    font-size: $font-size-125;
    color: $color-main;
}
#about_me__love {
    font-size: $font-size-125;
    color: $color-main;
}
#more0, #more1, #more2 {
    display: none;
  }
  
#dots0, #dots1, #dots2 {
    cursor: pointer;
}
#dots0:hover, #dots1:hover, #dots2:hover {
    color: $color-hover;
}

@media screen and (max-width: 768px) {
    .about_me {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;
        margin-left: 2%;
        padding-right: 2%;
    }
    .about_me__img {
        max-width: 35%;
    }
    .about_me__main {
        flex: 1;
        text-align: center;
        margin-top: -10%;
        padding-bottom: $header-height-sm;
    }
    .about_me__contact {
        margin-top: 6%;
        padding-top: 2%;
    }
    .contact_form {
        position: relative;
        left: 5px;
    }
    #about_me__skills, #about_me__love {
        text-align: left;
    }

    #messageError {
        margin-top: -20px;
    }
    #messageSuccess {
        margin-right: 5%;
        font-size: 1.1rem;
    }

    #about_me__resume {
        font-size: $font-size-10;
    }
    #messageText {
        font-size: $font-size-075;
    }
}
 